@charset "UTF-8";

body {
    background-color: #FDBFFF;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #49374A;
}
h2 {
    color: #8B698C;
}
#titulo-principal {
    background-color: #49374A;
    color: white;
    padding: 10px;
    font-weight: 900;
}
.basico {
    color: #8B698C;
}
.intermediario {
    color: #b68b00;
}
.avancado {
    color: #ff0022;
}
.destaque {
    color: chartreuse;
    padding: 5px;
    font-weight: 900;
    text-shadow: 2px 0px 0px rgb(0, 0, 0); 
    border-radius: 5px;
    background-color: rgba(225, 0, 255, 0.521);
    text-decoration: underline;
}
p {
    color: #ff0022;
}